:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset default browser styles */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
input,
button,
textarea,
nav,
header,
footer,
section,
article,
main,
aside,
figure,
figcaption,
blockquote,
code,
fieldset,
legend,
table,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Apply a global box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* In your CSS file, e.g., App.css */
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");

/* Set default font family and size */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-stretch: condensed;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.77rem;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 600;
}
h5 {
  font-size: 0.83em;
  font-weight: 600;
}

/* Remove link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Apply default styles to buttons */
button {
  cursor: pointer;
}

/* Add hover effect to buttons */
button:hover {
  opacity: 0.8;
}

/* Apply default styles to images */
img {
  max-width: 100%;
  height: auto;
}
